# Node modules
node_modules/

# Build folders
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Environment files
.env

# Temporary files
*.tmp
*.temp

# Cache
.cache/
